[user]
	name = Krzysztof Dajka
	email = alteriks@protonmail.com
	signingkey = 0xB6C314849BF49C13
[push]
	default = simple
[gitreview]
	username = KrzysztofDajka
[icdiff]
	options = --highlight --line-numbers

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
