.*.sw?
.vim/.netrwhist
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
home/.vim/.netrwhist
home/.config/nvim/.netrwhist
.task/keys/
home/.config/nvim/plug/
home/.config/tmux/plug/
me/.config/tmux/plugins/
